appdirs==1.4.4
asgiref==3.8.1
attrs==25.1.0
click==8.1.8
dj-database-url==2.3.0
Django==5.1.6
pathspec==0.12.1
psycopg2-binary==2.9.10
pytz==2025.1
regex==2024.11.6
sqlparse==0.5.3
toml==0.10.2
typed-ast==1.5.5
