{% extends "model-page.html" %}

{% block content %}

<h2>Compromissos</h2>
<a href="evento/">
    <button class="btn btn-primary" type="button">Novo Evento</button>
</a>
<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size: 18px">

        {% for evento in eventos %}
        <tr>
            <td>
                <div style={% if evento.get_evento_atrasado %} "color:red" {% endif %}>
                    {{ evento.titulo }}
                </div>
            </td>
            <td>{{ evento.get_data_evento }}</td>
            <td>
                <a href="evento/?id={{ evento.id }}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="evento/delete/{{ evento.id }}/">
                    <button type="button" class="btn btn-secondary">Excluir</button>
                </a>
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

{% endblock %}