{% extends "model-page.html" %}

{% block content %}


<form action="submit" method="POST">{% csrf_token %}
    <div class="container-fluid">
        <h3>Evento</h3>
        <div class="form-group">
            <label>Título: </label>
            <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
            <input class="form-control" type="text" name="titulo"  value="{{ evento.titulo }}">
        </div>
        <div class="form-group input-append date form_datetime">
            <label>Data do Evento: </label>
            <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
        </div>
        <div class="form-group">
            <label>Descrição: </label>
            <textarea class="form-control" name="descricao" rows="3">{{ evento.descricao }}</textarea>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Salvar</button>
        <a href="/">
            <button class="btn btn-secondary btn-sm" type="button">Cancelar</button>
        </a>
    </div>
</form>


{% endblock %}